/* ------------------ font google ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* ------------------ global ---------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #747e74;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #38424d;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #747e74;
    margin: 0;
}

span {
    display: contents;
    color: #fe5f59;
}

/* ------------------all animation --------------- */

@keyframes bounceTop-1 {

    0%,
    100% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0px);
    }
}

@keyframes animation-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------------ navbar css ---------------- */

.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5);
    height: 7rem;
}

.navbar {
    position: relative;
    padding: 20px 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .image {
    max-width: 150px;
    margin-right: 10px;
}

.logo-text {
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #38424d;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #ff846f;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: #38424d;
    opacity: 0;
    transition: all .3 ease-out 0s;
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
}

/* ------------------ home css ------------------ */

.header-hero {
    position: relative;
    top: 0;
    height: 800px;
    background-position: bottom center;
}

.header-hero .shape {
    position: absolute;
}

.header-hero .shape.shape-1 {
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    background: #637ae4;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-3 {
    width: 19px;
    height: 19px;
    left: 26px;
    bottom: 25%;
    border-radius: 50%;
    background: #ff846f;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4 {
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    background: #4ebaf5;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5 {
    width: 19px;
    height: 19px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    background: #ff5b56;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6 {
    width: 14px;
    height: 14px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    background: #4ebaf5;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 150px;
    bottom: 40px;
    border-radius: 50%;
    background: #0898e7;
    animation: animation-1 2s linear infinite;
}

.header-hero-content {
    position: relative;
}

.header-hero-content .header-title {
    font-size: 42px;
    color: #38424d;
}

.header-hero-content .text {
    margin-top: 30px;
}

.header-hero-content ul {
    margin-top: 30px;
}

.header-hero-content ul li {
    display: inline-block;
    margin-right: 15px;
}

.header-hero-content ul li:last-child {
    margin-right: 0;
}

.header-hero-content ul li a img {
    border-radius: 10px;
    width: 160px;
    height: auto;
}

.header-image {
    position: relative;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite;
}

.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../img/header/header-shape-1.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* ---------- reservation content ---------- */
.carousel-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50;
  }

  .carousel-image-container img {
    max-height: 700px;
    max-width: 100%;
    object-fit: contain;
  }

  .reservation-text-title {
    padding-bottom: 20px;
  }

  .wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

/* ---------- faq css -----------  */

.faq-section .accordion-item {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(142, 142, 142, .16);
}

.faq-section .accordion-item button {
    position: relative;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    background-color: #fff;
    color: #1d2a5d;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/faq/accordion.svg);
}

.accordion-button:focus {
    box-shadow: none;
}

.get-started {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.get-started .header {
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get-started .items-box {
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #ff5b56 3.2%, #FFDD33 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.get-started .items-box .item-container h3 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin: 0;
}

.get-started .items-box .item-container p {
    width: 150px;
    margin-top: 12px;
    text-align: center;
    font-size: 17px;
    color: #222222;
    margin-top: 8px;
    max-width: 150px;
}

.get-started .items-box .item-container .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 182, 73, 0.948);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 212, 162, 0.2);
    backdrop-filter: blur(90px);
    margin-bottom: 10px;
}

.get-started .items-box .item-container .item .bx {
    font-size: 38px;
    color: #FFA500;
}

.footer-area {
    position: relative;
    overflow: hidden;
}

.footer-area .footer-shape {
    position: absolute;
}

.footer-area .footer-shape.shape-1 {
    width: 75px;
    height: 75px;
    left: 70px;
    background-color: #fe5f59;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 15%;
    bottom: 40px;
    background-color: #33c8c1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35%;
    top: 40px;
    background-color: #361cc1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-4 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 5px;
    background-color: #eba31a;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-5 {
    width: 39px;
    height: 39px;
    right: 37%;
    top: 0px;
    background-color: #e29e19;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-6 {
    width: 15px;
    height: 15px;
    right: 15%;
    top: 125px;
    background-color: #b60d81;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .logo {
    max-width: 200px;
}

.footer-about {
    max-width: 320px;
}

.footer-about .text {
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 30px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-about .social li a {
    font-size:  20px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #0898e7;
}

.footer-link-wrapper {
    width: 50%;
}

.footer-link .link {
    padding-top: 10px;
}

.footer-link .link li {
    margin-top: 10px;
}

.footer-link .link li a {
    text-decoration: none;
    font-size: 18px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-link .link li a:hover {
    color: #0898e7;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 500;
}

.footer-copyright .copyright {
    border-top: 2px solid #eaeaeb;
    padding-top: 10px;
    padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
    color: #747e88;
}

.footer-copyright .copyright .copyright-text .text a:hover {
    color: #0898e7;
}

@media screen and (max-width: 925px) {
    .header-hero-content{
        padding-top: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        background-color: #ffffff; /* Add background color */
        border: 1px solid #cccccc; /* Add border if needed */
        border-radius: 5px; /* Optional: Add border-radius */
        padding: 10px;
    }

    .navbar-nav .nav-item .nav-link:hover {
        background-color: #f1f1f1; /* Change background color on hover */
    }
    
    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }
    
    .get-started .items-box .item-container .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 5px solid rgba(255, 182, 73, 0.948);
        border-radius: 2.6rem;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        background: rgba(255, 212, 162, 0.2);
        backdrop-filter: blur(90px);
        margin-bottom: 10px;
    }

    .get-started .items-box:before{
        height: 400px;
        top: 90px;
        filter: blur(240px);
    }

    .header-image {
        display: none;
    }

    .reservation-text {
        text-align: center;
    }
}